@let localSource = source(); @let localSize = size(); @let localColor = color();
@if (localSource === 'lucide') {
  <lucide-icon
    [img]="lucideIcon()"
    [size]="localSize"
    [color]="localColor"
    [strokeWidth]="strokeWidth()"
    [class]="className()"
  />
} @else if (localSource === 'custom') {
  @if (name() === 'whatsapp-custom') {
    <svg
      [attr.width]="localSize"
      [attr.height]="localSize"
      [attr.fill]="localColor"
      [class]="className()"
      fill="currentColor"
      viewBox="0 0 32 32"
    >
      <path [attr.d]="customIcons['whatsapp-custom']" />
    </svg>
  } @else {
    <img [src]="name()" [alt]="name()" [width]="localSize" [height]="localSize" />
  }
}
